# CODEOWNERS file defines individuals or teams responsible for code in this repository
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (fallback for all files)
* @erayguner